---
title: false
styles: true
---

@import "alembic";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


body {
  font-family: 'Courier Prime', monospace;
}

body h5 {
  font-family: 'Courier Prime', monospace;
}

body h1 {
  font-family: 'Courier Prime', monospace;
}

// Default link style
a {
  text-decoration: none;
  color: #000000; // Default link color is black
}

// Header navigation link styles
.header .nav a {
  color: #000000; // Header links are also black by default
}

.header .nav .current a,
.header .nav a:hover,
.header .nav a:focus {
  color: #C4B7BB; // Colour for when hovering or selected etc
}

// Override for typeset links
article.typeset a {
  background-image: none !important; // Only the background image needs !important to override the theme
  text-decoration: none;
  color: #000000; // Default color for typeset links
}

// Specific hover and focus styles for typeset links
article.typeset a:hover, 
article.typeset a:focus {
  color: #C4B7BB; // Colour for hover and focus
}



ol {
  list-style-position: inside;
}



.custom-title {
  font-family: 'Courier Prime', monospace;
}
