---
title: false
styles: true
---

@import "alembic";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


body {
  font-family: 'Courier Prime', monospace;
  background-color: #DFC98A; // desired color code (pastel yellow)
}

.typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6 {
    font-family: 'Courier Prime', monospace !important; /* Overrides the font family */
}



// Default link style
a {
  text-decoration: none;
  color: #000000; // Default link color is black
}

// Header navigation link styles
.header .nav a {
  color: #000000; // Header links are also black by default
}

.header {
  background-color: #D6B85A; // This sets the header background to white
}

.footer {
  background-color: #383801; // This sets the header background to white
}

.footer {
  border-top: 2px solid #000000; // Adjust thickness as desired
  // Other header styles
}

.header .nav .current a,
.header .nav a:hover,
.header .nav a:focus {
  color: #FFFFFF; // Colour for when hovering or selected etc
}

// Override for typeset links

article.typeset a {
  background-image: none !important;
  text-decoration: none;
  text-shadow: none;
  color: #78A2CC; // Default color for typeset links  (this is the same as body)
}


// Specific hover and focus styles for typeset links
article.typeset a:hover, 
article.typeset a:focus {
  color: #C4B7BB; // Colour for hover and focus
  text-shadow: none;
}

// Footer styles
.footer, 
.footer p, 
.footer h1, 
.footer h2, 
.footer h3, 
.footer h4, 
.footer h5, 
.footer h6, 
.footer a 
.typeset small, 
.typeset,
.caption {
  font-family: 'Courier Prime', monospace;
  color: #000000;
}


.header {
  border-bottom: 2px solid #000000; // Adjust thickness as desired
  // Other header styles
}

.typeset ul li, 
.typeset ol li  {
  list-style-position: inside;
}


.header-image {
  width: 100vw;
  height: 200px; // Maintain your desired height
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
  }
}


.custom-title {
  font-family: 'Courier Prime', monospace;
}



@keyframes floatAcross {
  0%, 100% {
    transform: translateX(0%); /* Start and end in the original position */
  }
  50% {
    transform: translateX(100%); /* Move to the right of the screen */
  }
}

.floaty-element {
  position: absolute; /* 'fixed' would make it float across the whole page regardless of scrolling */
  top: 50%; /* Adjust this to position at the desired height */
  left: 0; /* Start from the left edge */
  animation: floatAcross 20s infinite linear; /* Adjust timing as necessary */
}


